<!-- <form [formGroup]="form" (ngSubmit)="login()">
  <div>
    <label for="email">email: </label>
    <input id="email" [formControl]="email" />
    <input id="email" formControlName="email" />

    <div style="color: red" *ngIf="email?.errors?.['pattern']">
      email not valid!
    </div>
  </div>
  <div>
    <label for="password">password: </label>
    <input id="password" formControlName="password" />
  </div>

  <button>Login</button>
</form>

{{ email["errors"] | json }} -->
<!-- <app-setvalue></app-setvalue> -->

<!-- <app-customvalidator></app-customvalidator> -->
<ul>
  <li><a routerLink="selectall">selectall</a></li>
  <li><a routerLink="setvalue">setvalue</a></li>
  <li><a routerLink="customvalidator">customvalidator</a></li>
</ul>

<router-outlet></router-outlet>
